<!DOCTYPE html />
<head>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag 'home.css' %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="title">
      <h1>Poke coin</h1>
      <p>The <span>ultimate</span> nft trading app !<p>
      <button class="button-primary">Start trading now !</button>
    </div>
    <div class="miaouss"><%= image_tag "miaouss_shiny.png" %></div>
  </header>
</body>
